<!DOCTYPE html>
<html>
<head>
  <title>Splurty4</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>

</head>
<body>
	<header>
		<div class="col-xs-3">
		<div class="circle">
			<br />
			You know
			<br />
			you need
			<br />
			to code
		</div>
		<div class="col-xs-4 slogan">
			Splurting out unsolicited advice about entrepreneurship since 2014
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', '#' %>
			<%= link_to 'About', '#' %>
	</header>
	<hr />
	<br class="clear" />

	<div class="container">
		<%= yield %>
	</div>

	<div id="footer">
		<div class="container">
			<div class="col-xs-6">
				<%= link_to "This isn't enough, I need more", "#", :class => 'next-quote' %>
			</div>
			<div class="col-xs-6 footer-blurb">
			<div class="col-xs-6">
				Proudly hacked in Mississauga, ON by - <a href="http://www.adeelkhan.ca">Adeel Khan</a><br />
				Want to build your own Splurty Web App -<a href="http://thefirehoseproject.com"> Learn how to code here</a>
			</div>
		</div>
	</div>

</body>
</html>
